@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.cabesario{
  background-color: #4294eb;
  color: #333;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.searchForm input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.allCountries {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  gap: 10px;
  transition: transform 0.2s ease;
}

.country:hover {
  cursor: pointer;
  transform: scale(1.05);
}


.detalhes {
  background-color: #30499b;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.detalhes:hover {
  background-color: #4294eb;
  transform: scale(1.00);
}

.detalhes {
  transform: scale(0.95);
}


